body{
  margin-top: 20px;
  background-color: rgb(6, 162, 89)1, 255, 0;
  color: rgb(232, 77, 16)
}
.App {
  text-align: center;
}
.taskBg  {
background-color: rgb(10, 206, 245);
border-radius: 6px;
margin-bottom: 20px;
padding: 10px 140px 10px 15px;
text-align: left;
font-size: 22px;
position: relative;
}
.taskBg div {
  display: flex;
  align-items: center;
}
.taskNumber {
  color: #051509;
  border: 1px solid #230b05;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  display: flex;
  }

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
  flex: 1;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  color: rgb(10, 39, 19);
  margin: 0px 10px 0 10px;
  cursor: pointer;
  display: inline-block;
}

.taskBg .iconsWrap span:hover{
  color:rgb(240, 13, 51)
}